@import url("https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet");


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: #fff;
    width: 100%;
    
}

/* header nav{
    background: #F4F4F4;;
    height: 80px;
    width: 100%;
}
header nav label.logo{
    margin-left: 80px;
    color: #000000;
    font-family: Roboto;
    font-size: 24px;
    position: absolute;
    top: 3%;
    line-height: 32px;
}
header nav ul{
    float: right;
    margin-right: 200px;
}

header nav ul li{
    display: inline-block;
    line-height: 32px;
    margin: 20px 5px;
}
header nav ul li a{
    color: #000000;
    font-size: 24px;
    padding: 7px 13px;
    border-radius: 3px;
    font-style: normal;
    font-family: Roboto;
    transition: .5s;
}
header nav ul li a.active,a.nav-links:hover{
    background: #00205C;
    padding: 16px 54px;
    color: #FFFFFF;
    border-radius: 20px
}
header nav .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
header nav #check{
    display: none;
}

@media (max-width: 1216px){
    header nav ul{
        float: right;
        margin-right: 100px;
      }
}

@media (max-width: 1100px){
    header nav label.logo{
      font-size: 30px;
      padding-left: 10px;
      margin-left: 20px;
    }
    header nav ul{
        float: right;
        margin-right: 10px;
      }
      header nav ul li a{
      font-size: 16px;
    }
}

@media (max-width: 858px){
    header nav .checkbtn{
      display: block;
    }
    header nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #00205C;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    header nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    header nav ul li a.nav-links{
      font-size: 20px;
      color:#ffffff
    }
    header nav label .navi{
        color:#00205C
    }
    header nav ul li a:hover,a.active{
      background: #ffff;
      color: #00205C;
    }
    header nav #check:checked ~ ul{
      left: 0;
    }
} */


#heading-ctn{
    color: hsla(0, 0%, 100%, 1);
    text-align: center;
    padding: 150px;
    background-image: url(/frontend/images/hero\ pic.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

#heading-elem{
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 57.33px;
}

#sub-head-elem{
    font-family: 'Inter', sans-serif;
}

#second-ctn{
    display: flex;
    margin-left: 80px;
    align-items: center;
}

#headline-cont{
    margin-right: 180px;
}

#headline{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 7vmin;
    color: #333;
    margin-bottom: 15px;
    margin-right: 20px;
}

#subheadline{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 19.2px;
    line-height: 28.8px;
}

#img-second-ctn{
    margin: 50px 100px 50px 170px;
}

#form-ctn{
    background-image: url(/frontend/images/Group\ 161.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 50px;
}

#form-ctn h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 57.33px;
    color: hsla(0, 0%, 100%, 1);
    margin-bottom: 15px;
}

#form-ctn input{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border: 1px solid #ffff;
    background-color: transparent;
    padding: 24px 300px 24px 25px;
    border-radius: 8px;
    margin-right: 10px;
    color: white;
}

#form-ctn button{
    padding: 24px 62px;
    color: hsla(0, 0%, 20%, 1);
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 1);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 19.2px;
    border: 1px solid #fff;
}

#form-ctn button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border-radius: 12px;
}

#form-ctn p{
    color:hsla(0, 0%, 100%, 1);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 19.2px;
    margin-top: 10px;
}

#stats-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    margin: 80px auto;
}

.stats{
    border-radius: 16px;
    background-color: #DAE1FF;
    padding: 40px 60px;
    width: 350px;
}

#stats-ctn h5{
    font-family: 'Inter', sans-serif;
    font-family: 700;
    font-size: 57.33px;
    text-align: center;
    color: #00205c;
}

.small{
    font-size: 23.33px;
}

@media (max-width: 1200px) and (min-width: 1024px){
    #second-ctn{
        margin-top: 20px;
        margin-right: 0px;
    }

    #headline-cont{
        margin-right: 60px;
        
    }

    #headline{
        margin-right: 60px;
    }

    #img-second-ctn{
        margin: 50px 50px;
    }

    #form-ctn input{
        padding-right: 150px;
    }

    #stats-ctn{
        padding: 50px 20px;
    }

    .stats{
        padding: 40px 70px;
    }

    #stats-ctn h5{
        line-height: 50px;
    }
}


@media (max-width: 1064px) and (min-width: 769px) {
    #second-ctn{
        flex-direction: column-reverse;
        margin: auto 100px;
    }

    #headline-cont{
        margin: auto 100px;
    }

    #headline{
        margin: auto;
        text-align: center;
        line-height: 70px;
    }

    #subheadline{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 30px;
        margin-right: 30px;
        padding: auto 80px;
    }
    #img-second-ctn{
        margin: 20px auto;
    }

    #img-second-ctn img{
        width: 350px;
    }

    #form-ctn{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 70px 30px;
    }

    #form-ctn h3{
        text-align: center;
    }

    #form-ctn input{
        margin: auto 150px;
    }

    #form-ctn button{
        margin: auto;
        padding: 24px 100px;
        margin-top: 10px;
    }

    #form-ctn p{
        text-align: center;
    }

    #stats-ctn{
        flex-direction: column;
        margin: 40px auto;
        padding: 50px 30px;
    }

    .stats{
        padding: auto;
        width: 25rem;
    }

    #stats-ctn h5{
        font-size: 45px;
    }
}

@media (max-width: 640px) {
    #second-ctn{
        flex-direction: column;
        margin: auto;
    }

    #headline-cont{
        margin: 30px auto;
    }

    #headline{
        font-size: 24px;
        margin: 20px 200px;
        padding: auto 30px;
        text-align: center;
    }
    
    #img-second-ctn{
        margin: 10px auto;
    }

    #img-second-ctn img{
        width: 300px;
    }

    #stats-ctn{
        flex-direction: column;
    }

    #subheadline{
        font-size: 16px;
        text-align: center;
        margin: 10px 70px;
    }

    #form-ctn{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #form-ctn h3{
        font-size: 40px;
        text-align: center;
    }

    #form-ctn input{
        margin-bottom: 10px;
        padding: auto;
    }

    #form-ctn button{
        margin: auto 150px;
        text-align: center;
        padding: 24px auto;
    }

    #form-ctn p{
        text-align: center;
        font-size: 16px;
    }

    #stats-ctn{
        flex-direction: column;
        margin: 40px auto;
    }

    .stats{
        width: 25rem;
        padding: 40px 40px;
    }
}


@media (max-width: 480px) and (min-width: 320px) {
    #heading-ctn{
        padding: 40px 20px;
    }

    #heading-elem{
        font-size: 32px;
    }

    #second-ctn{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
    }

    #headline-cont{
        margin: auto;
    }

    #headline{
        margin: auto 100px;
        text-align: center;
        line-height: 32px;
        font-size: 24px;
    }


    #subheadline{
        text-align: center;
        margin-bottom: 15px;
        font-size: 16px;
        margin: auto 30px;
    }

    #img-second-ctn{
        margin: 10px auto;
    }

    #img-second-ctn img{
        width: 300px
    }

    #form-ctn{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 60px 30px 20px 30px;
    }

    #form-ctn h3{
        font-size: 32px;
        text-align: center;
    }

    #form-ctn input{
        padding: 24px 60px 24px 25px;
    }

    #form-ctn button{
        padding: auto;
        margin: auto;
    }

    #form-ctn p{
        visibility: hidden;
    }
    
    #stats-ctn{
        margin: 40px 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .stats{
        padding: 40px 60px;
        width: 300px;
    }

    #stats-ctn h5{
        font-size: 45px;
        text-align: center;
    }

    .small{
        font-size: 28px;
    }
}








/* Responsiveness for main */

/* @media (max-width: 1280px){
    #second-ctn{
        
    }

    #headline-cont{
        margin:auto;
    }

    #form-ctn input{
        padding: 24px 200px 24px 25px;
    }

    #stats-ctn h5{
        font-size: 40px;
    }

    #img-second-ctn{
        margin: 10px;
    }
}

@media (max-width: 960px){  
    #second-ctn{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    #headline-cont{
        margin: auto 150px;
    }

    #headline{
        margin-right: 40px;
        text-align: center;
        line-height: 70px;
    }

    #subheadline{
        text-align: center;
        margin-bottom: 15px;
    }

    #img-second-ctn{
        margin: 10px auto;
    }

    #img-second-ctn img{
        width: 300px
    }

    #form-ctn input{
        padding: 24px 80px 24px 25px;
    }
    
    .stats{
        padding: 40px 60px;
    }

    #stats-ctn h5{
        line-height: 30px;
    }
}

@media (max-width: 720px){  
    #second-ctn{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    #headline-cont{
        margin: auto 80px;
    }

    #headline{
        margin-right: 40px;
        text-align: center;
        line-height: 70px;
    }

    #subheadline{
        text-align: center;
        margin-bottom: 15px;
    }

    #img-second-ctn{
        margin: 10px auto;
    }

    #img-second-ctn img{
        width: 300px
    }

    #form-ctn{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #form-ctn input{
        padding: 24px 80px 24px 25px;
    }

    #form-ctn button{
        padding: auto;
        margin: auto;
    }

    #form-ctn p{
        text-align: center;
    }
    
    .stats{
        padding: 40px 40px;
    }

    #stats-ctn{
        padding: 40px;
        margin: 60px auto;
    }
    #stats-ctn h5{
        line-height: 30px;
        font-size: 30px;
    }

    .small{
        font-size: 18px;
    }
}

@media (max-width: 480px){
    #heading-ctn{
        padding: 100px;

    }

    #heading-elem{
        font-size: 32px;
    }

    #second-ctn{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
    }

    #headline-cont{
        margin: auto 80px;
    }

    #headline{
        margin-right: 40px;
        text-align: center;
        line-height: 32px;
        font-size: 24px;
    }


    #subheadline{
        text-align: center;
        margin-bottom: 15px;
        font-size: 16px;
    }

    #img-second-ctn{
        margin: 10px auto;
    }

    #img-second-ctn img{
        width: 300px
    }

    #form-ctn{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 60px 30px 20px 30px;
    }

    #form-ctn h3{
        font-size: 32px;
        text-align: center;
    }

    #form-ctn input{
        padding: 24px 60px 24px 25px;
    }

    #form-ctn button{
        padding: auto;
        margin: auto;
    }

    #form-ctn p{
        visibility: hidden;
    }
    
    .stats{
        padding: 60px 100px;
    }

    #stats-ctn{
        padding: 40px 80px;
        margin: 40px 10px;
        flex-direction: column;
        
    }

    #stats-ctn h5{
        line-height: 30px;
        font-size: 57.33px;
    }

    .small{
        font-size: 23.33px;
    }
} */


/* FOOTER */

.footer{
    background-color: #00205C;
      padding: 70px 0;
  }
  footer .container{
    max-width: 1170px;
    margin:auto;
  }
  footer .container .row{
    display: flex;
    flex-wrap: wrap;
  }
  footer .container .row .footer-col{
    width: 20%;
    padding: 0 15px;
 }
 footer .container .row .last{
  width: 100%;
  margin-top: 70px;
  border-top: 1px solid #ffffff;
  text-align: center;
 }
 footer .container .row .social{
  position: absolute;
  margin-top: 45px;
  margin-left: 10px;
 }
 footer .container .row .social a i{
  color:#fff;
  margin-right: 5px;
 }
 footer .container .row .copyright{
  margin-top: 10px;
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
 }
  footer .container .row .colmain{
    width: 40%;
    padding: 0 15px;
 }
  footer .container .row .footer-col h4.head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #ffffff;
    margin-top: -10px;
  }
  footer .container .row .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    /* position: relative; */
  }
  .footer-col h4::before{
    content: '';
    /* position: absolute; */
    left:0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  footer .container .row .footer-col p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    color:#ffffff;
  }
  footer .container .row ul{
    list-style: none;
  }
  footer .container .row .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  footer .container .row .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  footer .container .row .footer-col ul li a.footer-links:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  footer .container .row .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  footer .container .row .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  

/*Footer responsive*/
/* @media(max-width: 767px){
    footer .container .row .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    footer .container .row .footer-col{
      width: 100%;
  }
  } */