@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;
}
body{
  font: 'Poppins', sans-serif, 'roboto';

}


.nav-link {
  list-style: none;
  margin: 20px 0;
  border-bottom: 2px solid white;
  width: 8rem;
}

/* Navbar */
.navbar {
  background-color:#fff;
  width: 100%;
  color: black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  align-items: center;
}

.flex-nav {
  display: flex;
  flex-direction: column;
}


.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header h2{
  font-family: "Roboto";
  font-weight: 600;
}

.nav-toggle {
  border: transparent;
  background: transparent;
  color:black;
  font-size: 1.5rem;
}

.nav-links {
  height: 0;
  overflow: hidden;
  padding: 0 0 0 100px;
  width: 100%;
}

.nav-links ul li a{
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  font-family: "Roboto";
}

.nav-open {
  height: 100vh;
}

.nav-links ul li a span{
  background: #00205C;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

/*home*/
#home{
  background-image: linear-gradient(to top, rgba(0, 32, 92, 0.82)60%,rgba(0, 32, 92, 0.82)60%), url(/frontend/images/image\ 1.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
#home h2{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;

}

#home form {
  background: #fff;
  padding: 5px;
  border-radius: 8px;
  display:flex;
  width: 40%;
  margin-top: 40px;
}

#home form input{
  flex: 1;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
}

#home form button{
  color: black;
  padding: 15px 40px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: transparent;
}

/*Features*/
#blog{
display: flex;
justify-content: center;
flex-direction: column;
padding-top: 40px;
padding-bottom: 70px;
}

#blog .blog-heading h6{
text-align: flex-start;
font-family: 'inter';
color: rgba(0, 32, 92, 1);
margin-top: 30px;
font-size: 33.18px;
font-weight: 700;
margin-left: 70px;
}

.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box{
  width: 350px;
  background-color: #fff;
  border: 3px solid #ececec;
  margin: 20px;
}
.blog-img{
  width: 90%;
  height: 90%;
  align-items: center;
  object-position: center;
  margin: 20px;
}

.blog-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text{
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-text .blog-title{
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
  text-align: center;
  font-weight: 700;
  font-family: 'poppins';
}
.blog-text .blog-title:hover{
  color:rgba(0, 32, 92, 0.82);
  transition: all ease 0.3s;

}

.blog-text p{
  color: rgba(0, 0, 0, 1);
  font-size: 19px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px ;
  font-family: 'Poppins';
  text-align: center;
}

/*Newsletter*/

#Newsletter{
  background-image: linear-gradient(to top, rgba(0, 32, 92, 0.75)60%,rgba(0, 32, 92, 0.75)60%), url(/frontend/images/image\ 5.png);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-items: center;
  padding-left: 40px;

}
#Newsletter h3{
  color: #fff;
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: left;

}

#Newsletter form {
border-radius: 8px;

}


#Newsletter form input{
  border: 1px solid #ececec;
  outline:none;
  padding: 0 10px;
  font-size: 18px;
  background: transparent;
  width: 40%;
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  font-family: 'poppins';
  font-weight: 400;
  padding: 15px 40px;
}


#Newsletter form button{
  color:rgba(51, 51, 51, 1);
  padding: 15px 40px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 1);
  font-family: 'inter';
  font-size: 19px;
  font-weight: 700;
  margin-left: 10px;
 

}

#Newsletter form p{
  color: rgba(255, 255, 255, 1);
  font-family: 'poppins';
  font-weight: 400;
  font-size: 19;
  margin-top: 10px;
}

#container{
  background-color: #fff;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-items: center;
  padding-left: 40px;
  flex-wrap: wrap;

}

#container h6{
  color: rgba(0, 32, 92, 1);
  font-weight: 700;
  font-family: 'Inter';
  font-size: 40px;
}

.row{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-01{
  background: white;
  position: relative;
  flex: 1;
  max-width: 50%;
  height: 70px;
  border:2px solid #ececec;
  margin:10px;
  border-radius: 10px;
  overflow: hidden;
}

.card-02{
  background: white;
  position: relative;
  flex: 1;
  max-width: 50%;
  height: 70px;
  border:2px solid #ececec;
  margin:10px;
  border-radius: 10px;
}

.card-03{
  background: white;
  position: relative;
  flex: 1;
  max-width: 50%;
  height: 70px;
  border:2px solid #ececec;
  margin:10px;
  border-radius: 10px;
}
#container p{
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-family: 'poppins';
  font-size: 19px;
  margin-left: 1100px;

}

#faq{
  background: #fff;
  width: 100%;
  margin-top: 10px;
  height: 50vh;
}

#faq .faq-sec{
  background-color: #ececec;
  width: 100%;
  background-size: cover;
  padding: 50px 50px;
}

.faq-sec h3{
  font-size: 30px;
  font-weight: 700;
  font-family: 'poppins';
  text-align: center;
  color: rgba(0, 32, 92, 1);

}
.accordion{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-left: 50px;

}
.accordion span{
  background: none;

}

.accordion .accordion-content{
  overflow: hidden;
}

.accordion-content.open{
  padding-bottom: 10px;
}
.accordion-content header{
  display: flex;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  transition: all 0.2s linear;
}
.accordion-content.open header{
  min-height: 40px;
}
.accordion-content header .title{
  font-size: 20px;
  font-weight: 500;
  color: #40405E;
  font-family: 'Roboto';
}
.accordion-content header i{
  font-size: 15px;
  color:#79B5B8;
}
.accordion-content .description{
  height: 0;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  padding: 0 15px;
  transition: all 0.2s linear;
}

/* ********footer *********/
footer {
  width: 100%;
  height: fit-content;
  top: 1220px;
  background: #00205c;

  bottom: 0;
  padding: 70px;
  padding-top: 25px;
  color: #ffffff;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  padding-bottom: 60px;
  column-gap: 100px;
}

.footer-flex h2 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 24px;
}
.footer-flex a {
  display: block;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.footer-flex .footer-flex-left p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-flex-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  width: 60%;
}

.footer-flex-left {
  width: 40%;
}

.footer-flex-right h4 {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 27px;
}

footer .oval {
  background-color: #ffffff;
  width: 52px;
  height: 54px;
  /* position: absolute;
  right: 70px; */
  float: right;
  border-radius: 50%;
  margin-top: -26px;
}
footer p {
  text-align: center;
  margin-top: 20px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}





@media only screen and (min-width: 900px) {
  .nav-toggle {
    display: none;
  }

  .nav-header {
    display: block;
  }

  .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-links {
    height: auto;
  }

  ul {
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
  }

  .nav-links span {
    background: rgb(70, 70, 70);
    padding: 8px 15px;
    border-radius: 4px;
  }
}