{% extends 'base_layout.html' %} 
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/pass_changed.css' %}">
{% endblock styles %}
{% block content %}
<main>
    <div class="password">
      <div class="password-text">
        <h3 id="contact-heading">Password changed successfully</h3>
        <p>You can login now</p>
      </div>
    </div>
    <div>
      <img src="{% static 'images/password_changed.jpg' %}" alt="password_changed icon" width="418" height="345"/></div>
    <div class="login-button">
        <a href="{% url 'accounts:login' %}"><button>Login now</button></a>
    </div>
  </main>
  {% endblock %}