#sub-header {
    display: flex;
    justify-content: center;
    align-content: center;
    background: url(../images/image.png) no-repeat;
    background-color: hsla(219, 100%, 18%, 0.75);
    height: 200px;
}