#sub-header {
    background-image: linear-gradient(to top, rgba(0, 32, 92, 0.75)60%,rgba(0, 32, 92, 0.75)60%), url(../images/image.png);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    color: #FFFFFF;
    text-align: center;
    padding: 70px 0px;
    font-family: Roboto;
    font-size: 34px;
}

#library-lang {
    margin-top: 20px;
}

#main {
    display: flex;
    margin: 80px;
    justify-content: space-between;
    font-family: Roboto;
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

tr:nth-child(odd) {
        background-color: #00205C;
        color: white;
    }

#description-div div {
    display: flex;
    justify-content: space-between;
}

#sub-main {
    width: 90%;
}

#described {
    text-align: justify;
    border: 1px solid black;
    border-radius: .3em;
    padding: 2%;
    margin-top: 2%;
}

#detail, .detail-tr, .detail-td, .detail-th {
    border: 1px solid black;
}

#detail {
    width: 100%;
    margin: 5% 0;
    border-radius: .3em;
}

.detail-td, .detail-th {
    padding: 2%;
}

.detail-th {
    text-align: left;
}

#intructions {
    margin-top: 2%;
}

#code-div {
    margin: 5% 0;
}

#reaction {
    display: flex;
    justify-content: space-between;
}

.react-img, #download-img {
    width: 20px;
    margin-right: 10px;
}

.react-div {
    display: flex;
}

.react-btn, #download-btn {
    border: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}

#like {
    margin-right: 5%;
}

#react {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-left: 3%;
}

.like-dislike {
    margin-left: 5%;
}

#download-comment {
    display: flex;
    flex-flow: column;
    height: inherit;
    width: 60%;
    align-items: center;
    margin-top: 3%;
}

#comments-reactions {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    padding: 5%;
}

#download-div {
    display: flex;
}

.comment-div {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.info {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}

.comment-div .comment {
    margin-left: 5%;
}

.author {
    margin-right: 2%;
    font-size: 16px;
}

.date {
    font-style: italic;
}

#p-com {
    font-size: 26px;
    margin-bottom: 2%;
}

#comment-section, #comment-form, #write-comment {
    width: 100%;
}

#write-comment {
    resize: none;
    margin-bottom: 3%;
    padding: 10px;
}

#comment-submit, #file-download2 button {
    padding: 20px 20px;
    width: 200px;
    cursor: pointer;
    background: #00205C;
    color: #FFFFFF;
    border-radius: 50px;
    outline: 0;
    border: 1px solid #00205C;
    font-weight: 700;
    font-size: 16px;
}

#file-download2 div {
    display: flex;
    justify-content: space-around;
}

#file-download2 button {
    width: 100%;
}

#file-download2 button:hover {
    width: 100%;
    color: #00205C;
    background: white;
}

#file-download2 button:hover i {
    width: 100%;
    color: #00205C;
}

#file-download2 button i {
    color: white;
}

#file-download2 button  {
    margin-right: 15px;
}

#comment-submit:hover {
    background-color: #FFFFFF;
    color: #00205C;
}

#login {
    margin-top: 2%;
}

@media (max-width: 768px) {
    #main {
        margin: 30px
    }

    #sub-main {
        width: 100%;
    }
    
    #download-comment {
        width: 100%;
    }
}

@media (max-width: 460px) {
    #main {
        margin: 15px;
    }
    #sub-main {
        width: 100%;
        margin-top: 30px;
    }
    #download-comment {
        width: 100%;
    }

    #file-download2 button {
        margin-right: 17px;
        font-size: 14px;
        width: 140px;
        padding: 15px;
    }

    #description {
        font-size: 14px;
    }

    .detail-th, .detail-td {
        font-size: 12px;
    }

    #example {
        font-size: 14px;
        margin-top: 20px;
    }

    #react form {
        margin-right: 20px;
    }

    .like-dislike {
        font-size: 12px;
    }

    .date {
        font-size: 10px;
    }

    #react-img {
        margin-right: 5px;
    }

    #sub-header {
        font-size: 24px;
        padding: 70px 10px;
    }

    .comment {
        font-size: 12px;
    }

    #comments-reactions {
        padding: 2%;
    }
}