{% extends 'base_layout.html' %} 
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/password_changed.css' %}">
{% endblock styles %}
{% block content %}
<main>
    <div class="password">
      <div class="password-text">
        <h3 id="contact-heading">Password changed successfully</h3>
        <p>You can login now</p>
      </div>
    </div>
    <div>
      <img src="{% static 'images/password_changed.jpg' %}" alt="password_changed icon" width="500"/></div>
    <section class="form-section">
      <form action="./login.html">    
        <input type="submit" value="Login now" />
      </form>
    </section>
  </main>
  {% endblock %}