{% extends 'base_layout.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<main>
  <div class="hero">
    <div class="hero-text">
      <h3>Edit Profile</h3>
      <p>Edit Your Profile</p>
    </div>
  </div>
  <section class="form-section">
    <form class="site-form profile" action="/accounts/profile/" method="post">
      {% csrf_token %} {{form}}
      <div class="flex-layout row1">
        <p>
          Do You Want To Change Your Password<span>
            <a href="{% url 'accounts:password_change' %}"> Change Password</a>
          </span>
        </p>
      </div>
      <input type="submit" value="Update Profile" />
    </form>
  </section>
</main>
{% endblock %}
