{% extends 'base_layout.html' %} {% block content %}
<h1>My Login Page</h1>
<form class="site-form" action="/accounts/login/" method="post">
  {% csrf_token %} {{form}} {% if request.GET.next %}
  <!-- if the user was redirected to the login page we want to get
      the page the want to go to. so that if they login we redirect back to the page they wanted to go to. -->
  <input type="hidden" name="next" value="{{request.GET.next}}" />
  {% endif %}
  <input type="submit" value="Login" />
</form>
{% endblock %}
