{% extends 'base_layout.html' %} 
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}
{% block content %}
<main>
  <div class="hero">
    <div class="hero-text">
      <h3>For full access, please register or create an account</h3>
      <p>
        Create an account with your details to gain full access to the
        website, copy codes and download tons of
        <br />authentication codes
      </p>
    </div>
  </div>

  <section class="form-section">
    <form action="/accounts/signup/" method="post">
      {% csrf_token %}
      <label for="fname">First Name</label>
      <input
        type="text"
        name="fname"
        id="fname"
        placeholder="First Name"
        required
      />
      <label for="lname">Last Name</label>
      <input
        type="text"
        name="lname"
        id="lname"
        placeholder="Last Name"
        required
      />
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        required
      />
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="username"
        required
      />
      <label for="phone">Phone Number</label>
      <input
        type="text"
        name="phone"
        id="phone"
        placeholder="Phone Number"
        required
      />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
      />
      <label for="password2">Confirm Password</label>
      <input
        type="password"
        name="password2"
        id="password2"
        placeholder="Confirm Password"
        required
      />
      <div class="flex-layout row1">
        <p>
          Already have an account?<span>
            <a href="./login.html"> Login</a>
          </span>
        </p>
      </div>

      <input type="submit" value="Sign in" />

      <div class="flex-layout row2">
        <span class="line"></span>
        <p>Or</p>
        <span class="line"></span>
      </div>
      <div class="flex-layout row3">
        <div class="google-box">
          <img
          src=https://th.bing.com/th/id/OIP.8s3LAW5gto4UdNXpmKEyQgHaGt?w=160&h=180&c=7&r=0&o=5&pid=1.7
          alt="" class="logos" />
          <label for="google">Google</label>
        </div>

        <div class="github-box">
          <img
            src="https://th.bing.com/th/id/OIP.ckeUFk-yid0vfWnd56w7wAHaHa?w=167&h=180&c=7&r=0&o=5&pid=1.7"
            alt=""
            class="logos"
          />
          <label for="github">Github</label>
        </div>
      </div>
    </form>
  </section>
</main>
{% endblock %}
