{% extends 'base_layout.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

<main>
  <div class="hero">
    <div class="hero-text">
      <h3>Reset password</h3>
      <p>Enter new password</p>
    </div>
  </div>
  {% if form.errors %}
  {% for key, value in form.errors.items %}
  <strong style="text-align: center; color:red">{{ value }}</strong>
  {% endfor %}
  {% endif %}
  <section class="form-section">
    <form method="POST">
      {% csrf_token %}
      <label for="id_new_password1">Password</label>
      <input type="password" name="new_password1" id="id_new_password1" class="form=control" placeholder="Enter new password" required/>
      <label for="id_new_password2">Confirm Password</label>
      <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Re-type new password" required/>
      <input type="submit" id="reset" value="Reset Password" />
    </form>
  </section>
</main>
{% endblock %}