@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*home*/
#home{
    background-image: linear-gradient(to top, rgba(0, 32, 92, 0.82)60%,rgba(0, 32, 92, 0.82)60%), url("../images/image\ 1.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;
}
#home h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

#home form {
    width: 40%;
    position: relative;
    max-width: 400px;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    display:flex;
    margin-top: 40px;
}

#home form input{
    padding: 10px 20px;
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
}

  #home form button{
    color: black;
    padding: 15px 10px;
    position: absolute;
    right: 5%;
    color: black;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: transparent;
  }

/*Features*/
#blog{
display: flex;
justify-content: center;
flex-direction: column;
padding-top: 40px;
padding-bottom: 70px;
}

#blog .blog-heading h6{
text-align: flex-start;
font-family: 'inter';
color: rgba(0, 32, 92, 1);
margin-top: 30px;
font-size: 33.18px;
font-weight: 700;
margin-left: 70px;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width: 350px;
    background-color: #fff;
    border: 3px solid #ececec;
    margin: 20px;
}
.blog-img{
    width: 90%;
    height: 90%;
    align-items: center;
    object-position: center;
    margin: 20px;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    text-align: center;
    font-weight: 700;
    font-family: 'poppins';
}
.blog-text .blog-title:hover{
    color:rgba(0, 32, 92, 0.82);
    transition: all ease 0.3s;

}

.blog-text p{
    color: rgba(0, 0, 0, 1);
    font-size: 19px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px ;
    font-family: 'Poppins';
    text-align: center;
}

/*Newsletter*/

#Newsletter{
    background-image: linear-gradient(to top, rgba(0, 32, 92, 0.75)60%,rgba(0, 32, 92, 0.75)60%), url("../images/image\ 5.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 60px 10px 40px 40px;
    justify-items: center;
}
#Newsletter h3{
    color: #fff;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: left;

}

#Newsletter form {
  border-radius: 8px;
}

#Newsletter form input{
    border: 1px solid #ececec;
    outline:none;
    font-size: 18px;
    background: transparent;
    width: 40%;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-family: 'poppins';
    font-weight: 400;
    padding: 15px 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#Newsletter form button{
    color:rgba(51, 51, 51, 1);
    padding: 15px 40px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
    font-family: 'inter';
    font-size: 19px;
    font-weight: 700;
    margin-left: 10px;
  }

#Newsletter form p{
    color: rgba(255, 255, 255, 1);
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}

#container{
    background-color: #fff;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-items: center;
    padding-left: 40px;
    flex-wrap: wrap;

}

#container h6{
    color: rgba(0, 32, 92, 1);
    font-weight: 700;
    font-family: 'Inter';
    font-size: 40px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-01 {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 3%;
    width: 78%;
    max-width: 850px;
    height: auto;
    padding: 25px 0px 25px 5%;
    background: #FFFFFF;
    border-radius: 16px;
    border-radius: 16px;
    box-shadow: 8px 8px 12px 2px #ced8fa;
}

.card-01:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #B3C5FF;
}

.card-01:active {
    background-color: #00205C;
    color: white;
}

#library-name {
    font-family: Roboto;
    font-size: 24px;
}

#version {
    font-family: Roboto;
    margin-top: 5px;
}

#faq{
    background: #fff;
    width: 100%;
    margin-top: 10px;
    height: 100%;
    margin-bottom: 10%;
}

#faq .faq-sec{
    background-color: #ececec;
    width: 100%;
    background-size: cover;
    padding: 50px 50px;
}

.faq-sec h3{
    font-size: 40px;
    font-weight: 700;
    font-family: 'poppins';
    text-align: center;
    color: rgba(0, 32, 92, 1);

}
.accordion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion span{
    background: none;
}

.accordion .accordion-content{
    overflow: hidden;
    z-index: 1;
    margin-top: 15px;
    width: 100%;
}

.accordion-content.open{
    padding-bottom: 10px;
}
.accordion-content header{
    display: flex;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    transition: all 0.2s linear;
}
.accordion-content.open header{
    min-height: 40px;
}
.accordion-content header .title{
    font-size: 20px;
    font-weight: 500;
    color: #40405E;
    font-family: 'Roboto';
}
.accordion-content header i{
    font-size: 15px;
    color:#79B5B8;
    margin-right: 15px;
}
.accordion-content .description{
    height: 0;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    padding: 0 15px 0 47px;
    transition: all 0.2s linear;
}

@media (max-width: 800px) {
  #home form {
    width: 60%;
  }

  #Newsletter{
    padding-top: 5px;
    padding-bottom: 10px;
    justify-items: center;
    padding: 40px 5px;
   }

   #Newsletter h3{
    font-size: 26px;
    text-align: center;
   }
   #Newsletter form {
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    gap: 20px;
 }
   #Newsletter form input{
    width: 70%;
    padding: 15px 20px;
    margin: auto;
   }
   #Newsletter form button{
    padding: 10px 20px;
    border-radius: 6px;
    width: 150px;
    margin: auto;
    }

    #Newsletter form p {
        text-align: center;
    }

    .accordion {
        flex-wrap: wrap;
        justify-content: center;
    }
}
  @media(max-width: 574px){
    #home{
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
    #home h2{
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    text-align: center;

    }

    #home form {
      width: 80%;
  }

  #home form input {
      padding: 10px 0px;
  }

  #home form button {
      padding: 12px 10px;
      right: 0%;
  }
    #blog .blog-heading h6{
        text-align: center;
        font-size: 20px;
        margin: 0;
    }

    .blog-container{
        margin: 5px 0px;
    }

    .blog-box{
        border: 1px solid #ececec;
        margin: 15px;
        width: 250px;
    }

    .blog-img img{
        width: 90%;
        height: 90%;
    }

    .blog-img{
        margin-left: 25px;

    }

    .blog-text .blog-title{
        font-size: 15px;
        font-weight: 700;}

        .blog-text p{
            font-size: 13px;
      
   }
   #Newsletter{
    padding-top: 5px;
    padding-bottom: 10px;
    justify-items: center;
    padding: 40px 5px;
   }

   #Newsletter h3{
    font-size: 26px;
    text-align: center;
   }
   #Newsletter form {
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    gap: 20px;
 }
   #Newsletter form input{
    width: 90%;
    padding: 15px 20px;
    margin: auto;
   }
   #Newsletter form button{
    padding: 10px 20px;
    border-radius: 6px;
    width: 150px;
    margin: auto;
    }

    #Newsletter form p {
        text-align: center;
    }

    #container{
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    justify-items: center;
    flex-wrap: wrap;

    }

    #container h6{
        font-size: 20px;
    }

    .card-01{
    max-width: 100%;
    height: 100%;
    border:2px solid #ececec;
    margin:10px auto;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    }

    .faq-sec h3{
      font-size: 15px;
    }
    .accordion-content header .title{
      font-size: 15px;
      font-weight: 500;
      color: #40405E;
      font-family: 'Roboto';
    }
    .accordion-content .description{
      height: 0;
      font-size: 12px;
      color: #333;
      font-weight: 400;
      padding: 0 15px 0px 47px;
      transition: all 0.2s linear;
      text-align: start;
  }
  
  #faq .faq-sec{
    background-color: #ececec;
    width: 100%;
    background-size: cover;
    padding: 20px 5px;
  }
  
  #faq{
    background: #fff;
    width: 100%;
    margin-top: 10px;
    height: auto;
  }
  }

  @media(max-width: 375px){
    #home h2{
      font-size: 24px;
      text-align: center;
    }
    #home form {
      background: #fff;
      padding: 8px;
      border-radius: 8px;
      display:flex;
      width: 100%;
      margin-top: 40px;
  }

  #blog .blog-heading h6{
    font-size: 16px;
  }
  .faq-sec h3{
    font-size: 16px;
  }
  .accordion-content header .title{
    font-size: 15px;
    font-weight: 500;
    color: #40405E;
    font-family: 'Roboto';
  }

  .accordion-content .description{
    height: 0;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.2s linear;
    text-align: start;
}

#faq .faq-sec{
  background-color: #ececec;
  width: 100%;
  background-size: cover;
  padding: 25px 5px;
}

#faq{
  background: #fff;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

  }
