@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@300;400&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  /* header styles  */
  .no-scroll {
    overflow-y: hidden;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  header nav{
    background: #F4F4F4;;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav label.logo{
    margin-left: 80px;
    color: #000000;
    font-family: Roboto;
    font-size: 24px;
    top: 3%;
    line-height: 32px;
    font-weight: 700;
  }
  header nav ul{
    margin-right: 6%;
    z-index: 10;
  }
  header nav ul li{
    display: inline-block;
    line-height: 32px;
    padding: 16px 12px;
    transition: .2s;
    border-radius: 20px;
  }
  header nav ul li a{
    color: #000000;
    font-size: 22px;
    padding: 7px 12px;
    border-radius: 3px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
  }
  header nav ul li a.active {
    background: #00205C;
    padding: 16px 15px;
    color: #FFFFFF;
    border-radius: 20px
  }
  header nav ul li:hover {
    background: #00205C;
    color: #FFFFFF;
  }

  header nav ul li:hover a {
    color: #FFFFFF
  }

  header nav ul li:last-child a.active {
    padding: 16px 54px;
  }

  header nav .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  header nav #check{
    display: none;
  }

  .card-01 {
    display: flex;
    flex-flow: column;
    padding: 3%;
    justify-content: center;
  }

  .row, .card-01 {
    width: 100%;
  }

  #container {
    display: flex;
    flex-wrap: wrap;
  }

  #see-more {
    margin-top: 5%;
    font-family: Roboto;
  }
  .action{
    position: fixed;
    top: 16px;
    right: 30px;
}

.action .profile{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.action .menu{
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background:rgba(0, 32, 92, 1);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    height: 510%;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    visibility: visible;
    opacity: 1;

}


.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    height: 20px;
    width: 20px;
    background:rgba(0, 32, 92, 1);
    transform: rotate(45deg);
}

.action .menu h3{
    color: white;
    font-size: 18px;
    padding: 20px 0;
    line-height: 1.2rem;
}

.action .menu h3 a{
    text-decoration: none;
    color: #fff;
}

.action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    direction: flex;
    align-items: center;

}

.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
    font-size: 18px;
    padding:0px;
}

  @media (max-width: 1100px){
    header nav label.logo{
      font-size: 30px;
      padding-left: 10px;
      margin-left: 20px;
    }
    header nav ul{
      margin-right: 9%;
    }
      header nav ul li a{
      font-size: 16px;
    }
    .action .menu ul li a{
      padding: 0px;
    }
  }
  @media (max-width: 858px){
    header nav{
      flex-direction: row-reverse;
    }
    header nav .checkbtn{
      display: block;
    }
    .action{
      position: fixed;
      top: 16px;
      right: 100px;
  }
    header nav ul{
      position: fixed;
      width: 100%;
      height: auto;
      background: #00205C;
      top: 80px;
      text-align: center;
      transition: all .5s;
      z-index: -1;
      opacity: 0;
      margin-right: 0;
      visibility: hidden;
    }
    header nav ul li{
      margin: 0;
      line-height: 30px;
      height: 90px;
      padding: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    header nav ul li:active {
      background: #FFFFFF;
      border-radius: 0;
    }
    header nav ul li:active a {
      color: #00205C;
    }
  
    header nav ul li a{
      font-size: 20px;
      color:#ffffff
    }
    header nav ul li:last-child a.nav-links{
      font-size: 20px;
      color:#ffffff
    }
    header nav ul li:last-child a.active {
      background: transparent
    }
    header nav label .navi{
        color:#00205C
    }

    header nav #check:checked ~ ul{
      opacity: 1;
      display: block;
      transition: opacity 0.5s ease;
      z-index: 10000;
      visibility: visible;
    }
    .action .menu ul li a{
      padding: 20px;
    }
  }

  /* footer styles */
  .footer{
    background-color: #00205C;
    padding: 70px 40px;
    bottom: 0;
    font-family: Poppins;
  }
  footer .container{
    max-width: 1170px;
    margin:auto;
  }
  footer .container .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  footer .container .row .footer-col{
    width: 100%;
    padding: 0 15px;
 }
 footer .container .row .last{
  width: 100%;
  margin-top: 70px;
  border-top: 2px solid #ffffff;
  text-align: center;
 }
 footer .container .row .social{
  position: absolute;
  margin-top: 45px;
  margin-left: 10px;
 }
 footer .container .row .social a i{
  color:#fff;
  margin-right: 5px;
 }
 footer .container .row .copyright{
  margin-top: 10px;
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
 }
  footer .container .row .colmain{
    width: 100%;
    padding: 0 15px;
 }

 .footer-col-section2 {
  display: flex;
  width: 100%; 
 }
 
  footer .container .row .footer-col h4.head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin-top: -10px;
  }
  footer .container .row .footer-col h4{
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    /* position: relative; */
  }
  .footer-col h4::before{
    content: '';
    /* position: absolute; */
    left:0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  footer .container .row .footer-col p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    color:#ffffff;
  }
  footer .container .row ul{
    list-style: none;
  }
  footer .container .row .footer-col ul li:not(:last-child){
    margin-bottom: 20px;
  }
  footer .container .row .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  footer .container .row .footer-col ul li a.footer-links:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  footer .container .row .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  footer .container .row .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 768px){
    .footer {
      padding: 70px 30px;
    }
    footer .container .row {
      flex-direction: column;
  }
    footer .container .row .footer-col{
      margin-bottom: 30px;
  }
  }
  @media(max-width: 460px){
    .footer {
      padding: 70px 20px;
    }
    footer .container .row {
      text-align: center;
      align-items: center;
    }
    footer .container .row .colmain {
      text-align: center;
    }
    footer .container .row .colmain p{
      padding: 0;
    }
    .footer-col-section2 {
      flex-direction: column; 
      text-align: center;
     }
     footer .container .row .footer-col{
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 2px solid white; 
  }
  footer .container .row .social{
    margin-top: 0;
  }

  footer .container .row .last {
    text-align: center;
    margin-top: 50px;
  }
  }